* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #fff;
}

.App {
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;  
  padding: 0 15px 0 15px;
  background-image: linear-gradient(#2544cc, #1a2c80);
}

.header h1 {
  color: #ffbf27;
  font-size: 2.0rem;
  align-self: flex-end;
}

nav {
  min-height: 5rem;
}

ul li {
  display: inline;
  list-style: none;
}

ul a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 15px;
  color: #ffbf27;
  font-weight: bold;
}

ul a:hover {
  opacity: 50%;
}

.home,
.login,
.register,
.portal,
.not-found {
  width: 85vw;
  margin: auto;
  text-align: center;
  color: #fff;
  min-height: 85.75vh;
  display: flex;
}

.login-form-container,
.register-form-container {
  width: 1000px;
  height: 600px;
  margin: auto;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1.1fr 2fr;
  background-color: #f4f4f4;  
  border-radius: 5px;
  align-self: center;
}

.login-col-left {
  grid-area: 1 / 1 / 2 / 2;
  width: 325px;
  height: 550px;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 2.5fr 1fr;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: darkgray 0.5px 0.5px 6px;
}

.register-col-left {
  grid-area: 1 / 1 / 2 / 2;
  width: 325px;
  height: 550px;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 2.5fr 1fr;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: darkgray 0.5px 0.5px 6px;
}

.login-form-header,
.register-form-header {
  color: #000;
  grid-row: 1 / 2;
  align-self: flex-end;
  justify-self: center;
  text-align: left;
} 

.login-form-header p,
.register-form-header p {
  color:rgb(66, 75, 83);
}

.login-form,
.register-form {
  grid-row: 2 / 3;
  align-self: center;
}

.login-col-right,
.register-col-right {
  grid-area: 1 / 2 / 2 / 3;
  background-image: url("../public/images/employee-management-background-image01.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: auto;
}

.form-group label {
  width: 250px;
  text-align: left;
  margin: 15px auto 0 auto;
  color: rgb(66, 75, 83);
}

.form-group input,
.form-group button {
  width: 250px;
  height: 2.8rem;
  margin: 0 auto 5px auto;
  border-radius: 5px;
  padding: 5px;
}

.form-group button {
  margin-top: 20px;
  background-image: linear-gradient(#ffbf27 ,#9c6e01);
  border: none;
  color: #1a2c80;
  font-size: large;
  font-weight: bold;
}

#portal-main {
  height: 800px;
  display: grid;
  background-color: #f5f5ff;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.portal-profile {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #fff;
  color:#000;
  margin: 10px;
  border-radius: 5px;
  box-shadow: #000 1px 1px 10px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.portal-profile h3 {
  color: #ffbf27;
  font-size: 1rem;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: flex-start;
  align-self: center;
  margin-left: 10px;
}

.user-icon-background {
  border: #f5f5f5 1px solid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: #5d637e 1px 1px 12px;
  margin: 10px;
  grid-area: 2 / 1 / 5 / 2;
}

.fa-user {
  height: 65px;
  margin: 10px;
}

.portal-profile h2 {
  grid-area: 2 / 2 / 3 / 4;
  align-self: center;
}

#my-profile-btn {
  grid-area: 4 / 2 / 5 / 3;
  width: 120px;
  height: 30px;
  justify-self:center;
  align-self: flex-end;
  background-image: linear-gradient(#ffbf27 ,#9c6e01);
  border: none;
  border-radius: 5px;
  box-shadow: #000 1px 1px 3px;
}

#logout-btn {
  grid-area: 4 / 3 / 5 / 4;
  width: 120px;
  height: 30px;
  justify-self: center;
  align-self: flex-end;
  background-image: linear-gradient(#ffbf27 ,#9c6e01);
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: #000 1px 1px 3px;
}

.portal-leave-balance {
  margin: 10px 0;
  grid-area: 1 / 2 / 3 / 3; 
  background-color: #fff;
  color:#000;
  border-radius: 5px;
  box-shadow: #000 1px 1px 10px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.leave-balance-title {
  color: #ffbf27;
  font-size: 0.95rem;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: flex-start;
  align-self:flex-start;
  margin: 10px;
}

.portal-sick-leave {
  grid-area: 2 / 1 / 6 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sick-leave-hours {
  border: #000 1px solid;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portal-vacation-leave {
  grid-area: 2 / 2 / 6 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.vacation-leave-hours {
  border: #000 1px solid;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Pie Chart*/


#vacation-pie {
  --p: 40;
  --b: 27px;
  --c: orange; 
  --w: 150px;
  width: var(--w);
  height: var(--w);
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  transform: rotate(180deg);
}

#sick-pie {
  --p: 75;
  --b: 27px;
  --c: orange; 
  --w: 150px;
  width: var(--w);
  height: var(--w);
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  transform: rotate(180deg);
  z-index: 10;
}

#sick-pie-background,
#vacation-pie-background {
  --p: 100;
  --b: 27px;
  --c: #7e7e7e;
  --w: 150px;
  width: var(--w);
  height: var(--w);
  top: -5px;
  left: -5px;
  display: inline-grid;
  position: absolute;
  margin: 5px;
  transform: rotate(180deg);
}

#sick-pie-background:before,
#vacation-pie-background:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.hours-left {
  transform: rotate(180deg);
}

#sick-pie:before,
#vacation-pie:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  z-index: 10;
}

.portal-calendar {
  grid-area: 1 / 3 / 4 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: #000 1px 1px 10px;
  background-color: #fff;
}

.react-calendar {
  width: 100% !important;
  height: 95% !important;
  border: none !important;
}

.time-card {
  grid-area: 4 / 1 / 7 / 4;
  background-color: #fff;
  margin: 0 10px 5px 0;
  border-radius: 5px;
  box-shadow: #000 1px 1px 10px;
  display: grid;
  grid-template: 1fr repeat(6, 2fr) / 1.5fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr;
  color: #000;
}

.time-card-header {
  grid-area: 1 / 1 / 2 / 9;
  display: grid;
  grid-template: 1fr / 1.5fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr;
  color:#ffbf27;
  font-weight: 900;
  background-image: linear-gradient(#2544cc, #1a2c80);
}

.time-card-body {
  grid-area: 2 / 1 / 8 / 9;
  display: grid;
  grid-template: repeat(6, 2fr) / 1.5fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr;
}

.monday-container {
  grid-area: 1 / 1 / 2 / 9;
  display: grid;
  grid-template: 1.5fr 0.75fr / 1.5fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr;
}

.row-one {
  grid-area: 1 / 1 / 2 / 9;
  display: grid;
  grid-template: 1fr / 1.5fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr;
}

.row-two {
  grid-area: 2 / 1 / 3 / 9;
  display: grid;
  grid-template: 1fr / 1.5fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr;
  background-color: darkgray;
}

.monday-row-one-date {
  grid-area: 1 / 1 / 2 / 2;
  border-right: #000 1px solid;
}

.monday-row-two-date {
  grid-area: 1 / 1 / 2 / 2;
  border-right: #000 1px solid;
}

.monday-row-one-in {
  grid-area: 1 / 2 / 2 / 3;
  border-right: #000 1px solid;
}

.monday-row-two-in {
  grid-area: 1 / 2 / 2 / 3;
  border-right: #000 1px solid;
}

.monday-row-one-out {
  grid-area: 1 / 3 / 2 / 4;
  border-right: #000 1px solid;
}

.monday-row-two-out {
  grid-area: 1 / 3 / 2 / 4;
  border-right: #000 1px solid;
}

.monday-row-one-reg-hours {
  grid-area: 1 / 4 / 2 / 5;
  border-right: #000 1px solid;
}

.monday-row-two-reg-hours {
  grid-area: 1 / 4 / 2 / 5;
  border-right: #000 1px solid;
}

.monday-row-one-vacation-hours {
  grid-area: 1 / 5 / 2 / 6;
  border-right: #000 1px solid;
}

.monday-row-two-vacation-hours {
  grid-area: 1 / 5 / 2 / 6;
  border-right: #000 1px solid;
}

.monday-row-one-sick-hours {
  grid-area: 1 / 6 / 2 / 7;
  border-right: #000 1px solid;
}

.sick-hours-form {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

#monday-sick-hours-input,
#monday-reg-hours-input,
#monday-vacation-hours-input,
#tuesday-sick-hours-input,
#tuesday-reg-hours-input,
#tuesday-vacation-hours-input,
#wednesday-sick-hours-input,
#wednesday-reg-hours-input,
#wednesday-vacation-hours-input,
#thursday-sick-hours-input,
#thursday-reg-hours-input,
#thursday-vacation-hours-input,
#friday-sick-hours-input,
#friday-reg-hours-input,
#friday-vacation-hours-input {
  width: 45px;
  text-align: right;
}

.monday-row-two-sick-hours {
  grid-area: 1 / 6 / 2 / 7;
  border-right: #000 1px solid;
}

.monday-row-one-account-code {
  grid-area: 1 / 7 / 2 / 8;
  border-right: #000 1px solid;
}

.monday-row-two-account-code {
  grid-area: 1 / 7 / 2 / 8;
  border-right: #000 1px solid;
}

.monday-row-one-total-hours {
  grid-area: 1 / 8 / 2 / 9;
}

.monday-row-two-total-hours {
  grid-area: 1 / 8 / 2 / 9;
}

.tuesday-container {
  grid-area: 2 / 1 / 3 / 9;
  display: grid;
  grid-template: 1.5fr 0.75fr / 1.5fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr;
}

.tuesday-row-one-date {
  grid-area: 1 / 1 / 2 / 2;
  border-right: #000 1px solid;
}

.tuesday-row-two-date {
  grid-area: 1 / 1 / 2 / 2;
  border-right: #000 1px solid;
}

.tuesday-row-one-in {
  grid-area: 1 / 2 / 2 / 3;
  border-right: #000 1px solid;
}

.tuesday-row-two-in {
  grid-area: 1 / 2 / 2 / 3;
  border-right: #000 1px solid;
}

.tuesday-row-one-out {
  grid-area: 1 / 3 / 2 / 4;
  border-right: #000 1px solid;
}

.tuesday-row-two-out {
  grid-area: 1 / 3 / 2 / 4;
  border-right: #000 1px solid;
}

.tuesday-row-one-reg-hours {
  grid-area: 1 / 4 / 2 / 5;
  border-right: #000 1px solid;
}

.tuesday-row-two-reg-hours {
  grid-area: 1 / 4 / 2 / 5;
  border-right: #000 1px solid;
}

.tuesday-row-one-vacation-hours {
  grid-area: 1 / 5 / 2 / 6;
  border-right: #000 1px solid;
}

.tuesday-row-two-vacation-hours {
  grid-area: 1 / 5 / 2 / 6;
  border-right: #000 1px solid;
}

.tuesday-row-one-sick-hours {
  grid-area: 1 / 6 / 2 / 7;
  border-right: #000 1px solid;
}

.tuesday-row-two-sick-hours {
  grid-area: 1 / 6 / 2 / 7;
  border-right: #000 1px solid;
}

.tuesday-row-one-account-code {
  grid-area: 1 / 7 / 2 / 8;
  border-right: #000 1px solid;
}

.tuesday-row-two-account-code {
  grid-area: 1 / 7 / 2 / 8;
  border-right: #000 1px solid;
}

.tuesday-row-one-total-hours {
  grid-area: 1 / 8 / 2 / 9;
}

.tuesday-row-two-total-hours {
  grid-area: 1 / 8 / 2 / 9;
}

.wednesday-container {
  grid-area: 3 / 1 / 4 / 9;
  display: grid;
  grid-template: 1.5fr 0.75fr / 1.5fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr;
}

.wednesday-row-one-date {
  grid-area: 1 / 1 / 2 / 2;
  border-right: #000 1px solid;
}

.wednesday-row-two-date {
  grid-area: 1 / 1 / 2 / 2;
  border-right: #000 1px solid;
}

.wednesday-row-one-in {
  grid-area: 1 / 2 / 2 / 3;
  border-right: #000 1px solid;
}

.wednesday-row-two-in {
  grid-area: 1 / 2 / 2 / 3;
  border-right: #000 1px solid;
}

.wednesday-row-one-out {
  grid-area: 1 / 3 / 2 / 4;
  border-right: #000 1px solid;
}

.wednesday-row-two-out {
  grid-area: 1 / 3 / 2 / 4;
  border-right: #000 1px solid;
}

.wednesday-row-one-reg-hours {
  grid-area: 1 / 4 / 2 / 5;
  border-right: #000 1px solid;
}

.wednesday-row-two-reg-hours {
  grid-area: 1 / 4 / 2 / 5;
  border-right: #000 1px solid;
}

.wednesday-row-one-vacation-hours {
  grid-area: 1 / 5 / 2 / 6;
  border-right: #000 1px solid;
}

.wednesday-row-two-vacation-hours {
  grid-area: 1 / 5 / 2 / 6;
  border-right: #000 1px solid;
}

.wednesday-row-one-sick-hours {
  grid-area: 1 / 6 / 2 / 7;
  border-right: #000 1px solid;
}

.wednesday-row-two-sick-hours {
  grid-area: 1 / 6 / 2 / 7;
  border-right: #000 1px solid;
}

.wednesday-row-one-account-code {
  grid-area: 1 / 7 / 2 / 8;
  border-right: #000 1px solid;
}

.wednesday-row-two-account-code {
  grid-area: 1 / 7 / 2 / 8;
  border-right: #000 1px solid;
}

.wednesday-row-one-total-hours {
  grid-area: 1 / 8 / 2 / 9;
}

.wednesday-row-two-total-hours {
  grid-area: 1 / 8 / 2 / 9;
}

.thursday-container {
  grid-area: 4 / 1 / 5 / 9;
  display: grid;
  grid-template: 1.5fr 0.75fr / 1.5fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr;
}

.thursday-row-one-date {
  grid-area: 1 / 1 / 2 / 2;
  border-right: #000 1px solid;
}

.thursday-row-two-date {
  grid-area: 1 / 1 / 2 / 2;
  border-right: #000 1px solid;
}

.thursday-row-one-in {
  grid-area: 1 / 2 / 2 / 3;
  border-right: #000 1px solid;
}

.thursday-row-two-in {
  grid-area: 1 / 2 / 2 / 3;
  border-right: #000 1px solid;
}

.thursday-row-one-out {
  grid-area: 1 / 3 / 2 / 4;
  border-right: #000 1px solid;
}

.thursday-row-two-out {
  grid-area: 1 / 3 / 2 / 4;
  border-right: #000 1px solid;
}

.thursday-row-one-reg-hours {
  grid-area: 1 / 4 / 2 / 5;
  border-right: #000 1px solid;
}

.thursday-row-two-reg-hours {
  grid-area: 1 / 4 / 2 / 5;
  border-right: #000 1px solid;
}

.thursday-row-one-vacation-hours {
  grid-area: 1 / 5 / 2 / 6;
  border-right: #000 1px solid;
}

.thursday-row-two-vacation-hours {
  grid-area: 1 / 5 / 2 / 6;
  border-right: #000 1px solid;
}

.thursday-row-one-sick-hours {
  grid-area: 1 / 6 / 2 / 7;
  border-right: #000 1px solid;
}

.thursday-row-two-sick-hours {
  grid-area: 1 / 6 / 2 / 7;
  border-right: #000 1px solid;
}

.thursday-row-one-account-code {
  grid-area: 1 / 7 / 2 / 8;
  border-right: #000 1px solid;
}

.thursday-row-two-account-code {
  grid-area: 1 / 7 / 2 / 8;
  border-right: #000 1px solid;
}

.thursday-row-one-total-hours {
  grid-area: 1 / 8 / 2 / 9;
}

.thursday-row-two-total-hours {
  grid-area: 1 / 8 / 2 / 9;
}

.friday-container {
  grid-area: 5 / 1 / 6 / 9;
  display: grid;
  grid-template: 1.5fr 0.75fr / 1.5fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr;
}

.friday-row-one-date {
  grid-area: 1 / 1 / 2 / 2;
  border-right: #000 1px solid;
}

.friday-row-two-date {
  grid-area: 1 / 1 / 2 / 2;
  border-right: #000 1px solid;
}

.friday-row-one-in {
  grid-area: 1 / 2 / 2 / 3;
  border-right: #000 1px solid;
}

.friday-row-two-in {
  grid-area: 1 / 2 / 2 / 3;
  border-right: #000 1px solid;
}

.friday-row-one-out {
  grid-area: 1 / 3 / 2 / 4;
  border-right: #000 1px solid;
}

.friday-row-two-out {
  grid-area: 1 / 3 / 2 / 4;
  border-right: #000 1px solid;
}

.friday-row-one-reg-hours {
  grid-area: 1 / 4 / 2 / 5;
  border-right: #000 1px solid;
}

.friday-row-two-reg-hours {
  grid-area: 1 / 4 / 2 / 5;
  border-right: #000 1px solid;
}

.friday-row-one-vacation-hours {
  grid-area: 1 / 5 / 2 / 6;
  border-right: #000 1px solid;
}

.friday-row-two-vacation-hours {
  grid-area: 1 / 5 / 2 / 6;
  border-right: #000 1px solid;
}

.friday-row-one-sick-hours {
  grid-area: 1 / 6 / 2 / 7;
  border-right: #000 1px solid;
}

.friday-row-two-sick-hours {
  grid-area: 1 / 6 / 2 / 7;
  border-right: #000 1px solid;
}

.friday-row-one-account-code {
  grid-area: 1 / 7 / 2 / 8;
  border-right: #000 1px solid;
}

.friday-row-two-account-code {
  grid-area: 1 / 7 / 2 / 8;
  border-right: #000 1px solid;
}

.friday-row-one-total-hours {
  grid-area: 1 / 8 / 2 / 9;
}

.friday-row-two-total-hours {
  grid-area: 1 / 8 / 2 / 9;
}

.submit-container {
  grid-area: 6 / 1 / 7 / 9;
  display: grid;
  grid-template: 1fr 1fr / 1.5fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr;
  align-items: center;
}

.save-btn-container {
  grid-area: 1 / 1 / 3 / 3;
}

#time-card-save-btn {
  width: 90px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(#ffbf27 ,#9c6e01);
}

.submit-btn-container {
  grid-area: 1 / 2 / 3 / 4;
}

#time-card-submit-btn {
  width: 150px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(#ffbf27 ,#9c6e01);
}

.reg-hours-total-container {
  grid-area: 1 / 4 / 2 / 5;
}

.vacation-hours-total-container {
  grid-area: 1 / 5 / 2 / 6;
}

.sick-hours-total-container {
  grid-area: 1 / 6 / 2 / 7;
}

.total-hours-total-container {
  grid-area: 1 / 8 / 2 / 9;
}

#time-card-date,
#time-card-in,
#time-card-out,
#time-card-reg-hours,
#time-card-vacation-hours,
#time-card-sick-hours,
#time-card-account-code,
#time-card-total-hours {
  border: #000 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-one,
.row-two {
  border: #000 1px solid;
  border-top: none;
  align-items: center;
}

.row-two {
  border-bottom: #000 2px solid;
}

.app-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90vw;
  margin: auto;
  padding: 15px 55px 15px 55px;
  background-image: linear-gradient(#2544cc, #1a2c80);
  color: #fff;
}

.mobile-header {
  display: none;
}

.hidden {
  display: none;
}

.time-sheet-mobile-body {
  display: none;
}

.vacation-mobile-body { 
  display: none;
}

.sick-leave-mobile-body {
  display: none;
}

/* 15" Macbook Pro */
@media (max-width:1680px) {
  body {
    font-size: 0.8rem;
  }

  .header {
    width: 95vw; 
    padding: 0 15px 0 15px;
  }

  .login-form-container,
  .register-form-container {
    width: 1200px;
    height: 750px;
  }

  .register-col-left {
    width: 375px;
    height: 675px;
  }

  .form-group {
    width: 325px;
  }
  
  .form-group label {
    width: 275px;
    margin: 10px auto 0 auto;
  }
  
  .form-group input,
  .form-group button {
    width: 275px;
    height: 2.5rem;
    padding: 3px;
  }
  
  .form-group button {
    font-size: medium;
  }

}
/* mobile device */
@media only screen and (max-width: 600px) {
  .header,
  .portal,
  .app-footer {
    display: none;
  }

  .mobile-header {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(#2544cc, #1a2c80);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
  }

  .mobile-header-selection-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .mobile-time-sheet,
  .mobile-vacation,
  .mobile-sick-leave {
    background-image: radial-gradient(#ffbf27, #9c6e01);
    width: 26vw;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #fff;
  }

  .mobile-time-sheet {
    border-radius: 5px 0 0 5px;
  }

  .mobile-sick-leave {
    border-radius: 0 5px 5px 0;
  }

  /*Apply .active class to current selection in mobile-header*/
  .active {
    background-image: linear-gradient(#ffb507, #5e4200);
  }

  .time-sheet-mobile-body.selected {
    width: 100%;
    height: 600px;
    background-color: #fff;
    display: grid;
    grid-template: 1.0fr 2.0fr 2.5fr 1fr / repeat(2, 2fr);
  }  

  .vacation-mobile-body.selected {
    width: 100%;
    height: 700px;
    background-color: #fff;
    display: grid;
    grid-template: .5fr 1.25fr 1fr 1fr / 1fr;
  }

  .sick-leave-mobile-body.selected {
    width: 100%;
    height: 85vh;
    background-color: #fff;
    display: grid;
    grid-template: 1fr 2.5fr / 1fr ;
  }

  .mobile-vacation-greeting-section,
  .mobile-sick-greeting-section {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 14fr);
    width: 100%;
    align-items: center;
  }

  #mobile-time-sheet-row-1 {
    grid-area: 1 / 1 / 2 / 3;
  }

  .mobile-time-sheet-greeting-section {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 14fr);
    width: 100%;
    align-items: center;
  }

  .mobile-vacation-greet-title,
  .mobile-sick-greet-title {
    grid-area: 1 / 1 / 2 / 3;
    justify-self: center;
    padding-top: 25px;
  }

  .mobile-time-sheet-greet-title {
    grid-area: 1 / 1 / 2 / 3;
    justify-content: center;
    padding-top: 15px;
  }

  .mobile-vacation-greet-title h2,
  .mobile-sick-greet-title h2 {
    font-weight: 800;
    color: #1a2c80;
  }

  .mobile-time-sheet-greet-title h2 {
    font-weight: 800;
    color: #1a2c80;
    margin-left: 25px;
  }

  .mobile-user-icon-background {
    border: #f5f5f5 1px solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: #5d637e 1px 1px 7px;    
    grid-area: 1 / 3 / 2 / 5;    
    justify-self: center;
    margin-top: 10px;
  }

  .fa-user {
    width: 30px;
    height: 30px;
  }

  .vacation-row-1-lower-row,
  .sick-row-1-lower-row,
  .time-sheet-row-1-lower-row {
    grid-area: 2 / 1 / 3 / 5;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);    
  }

  .oval-image-one,
  .oval-image-two,
  .oval-image-three,
  .oval-image-four {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .mobile-person-walking-image .fa-person-walking-luggage,
  .mobile-beach-umbrella-image .fa-umbrella-beach,
  .mobile-notes-medical-image .fa-notes-medical,
  .mobile-syringe-image .fa-syringe,
  .mobile-building-user-image .fa-building-user,
  .mobile-business-time-image .fa-business-time {
    width: 25px;
    height: 25px;
  }

  .oval {
    width: 55px;
    height: 12px;
    border-radius: 15px;
    background-color: #e2e2e2;
    justify-self: center;
  }

  #time-sheet-row-2 {
    grid-area: 2 / 1 / 3 / 3;
    height: 200px;
  }

  .mobile-vacation-leave-section,
  .mobile-sick-leave-section {
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
    grid-template: 0.5fr 0.75fr 0.75fr 0.75fr 1.75fr / repeat(3, 1fr);
  }

  .time-sheet-row-2-container {
    height: 100%;
    display: grid;
    grid-template: 1fr 6fr 1fr / repeat(2, 1fr);
  }

  .mobile-vacation-leave-section p,
  .mobile-sick-leave-section p,
  .mobile-time-sheet-section p {
    color: #1a2c80;
    font-weight: 600;
  }

  .annual-leave-banner,
  .sick-leave-banner {
    grid-area: 1 / 1 / 2 / 4;
    height: 25px;
    width: 100%;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 15px;
  }

  .mobile-time-sheet-banner {
    grid-area: 1 / 1 / 2 / 3;
    height: 25px;
    width: 100%;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    padding-left: 15px;
  }

  .take-home-main-section-row-1-col-1 {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .take-home-main-section-row-1-col-2 {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-take-home-p {
    color: #1a2c80;
    font-size: 1.0rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .mobile-deduction-p {
    color: orange;
    font-size: 1.0rem;
    font-weight: 700;
  }

  .row-1-text-lg {
    font-size: 1.2rem;
  }

  .take-home-main-section-row-3-banner {
    grid-area: 3 / 1 / 4 / 3;
    width: 100%;
    height: 15px;
    background-color: #e2e2e2;
    align-self: flex-end;
  }

  #mobile-time-sheet-row-3 {
    grid-area: 3 / 1 / 4 / 3;
    width: 100%;
    height: 200px;
  }

  .time-sheet-row-3-container {
    display: grid;
    grid-template: 1fr 6fr / repeat(2, 1fr);
    color: #1a2c80;
  }

  .time-sheet-earnings-heading {
    grid-area: 1 / 1 / 2 / 3;
    padding-left: 20px;
    color: #1a2c80;
    font-weight: 800;
  }

  .row-3-underline {
    height: 1.5px;
    background-color: #000;
    grid-area: 1 / 1 / 2 / 3;
    align-self: flex-end;
    width: 90%;
    margin: 0 auto; 
  }

  .time-sheet-row-3-col-1 {
    grid-area: 2 / 1 / 3 / 2;
    padding: 0 20px;
    line-height: 2.0;
    font-weight: 700;
  }

  .time-sheet-row-3-col-2 {
    grid-area: 2 / 2 / 3 / 3;
    padding: 0 20px;
    line-height: 2.0;
    justify-self: flex-end;
    font-weight: 700;
  }

  #mobile-time-sheet-row-4 {
    grid-area: 4 / 1 / 5 / 3;
  }

  .time-sheet-row-4-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 3fr / repeat(2, 1fr);
    color: #1a2c80;
  }

  .time-sheet-deductions-heading {
    grid-area: 1 / 1 / 2 / 3; 
    padding-left: 20px;
    color: orange;
    font-weight: 800;
  }

  .time-sheet-deductions-heading-underline {
    width: 90%;
    margin: 0 auto;
    height: 1.5px;
    background-color: #000;
    grid-area: 1 / 1 / 2 / 3;
    align-self: flex-end;
  }

  .time-sheet-deductions-list {
    grid-area: 2 / 1 / 3 / 2;
    padding: 0 20px;
    line-height: 2.0;
    font-weight: 700;
  }

  .time-sheet-deductions-amounts {
    grid-area: 2 / 2 / 3 / 3;
    padding: 0 20px;
    line-height: 2.0;
    font-weight: 700;
    justify-self: flex-end;
  }

  .mobile-vacation-remaining-container {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    margin: 0 15px;
  }

  .mobile-vacation-block {
    background-image: linear-gradient(#ffbf27, #c08e1a);
    width: 40px;
    height: 22.5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    border: #1a2c80 solid 1.0px;
  }

  .mobile-vacation-spacer-container {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    align-items: center;
    margin: 0 15px;
  }

  .mobile-vacation-used-container {
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    align-items: center;
    margin: 0 15px;
  }

  .mobile-vacation-pie-container {
    grid-area: 2 / 2 / 5 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
  }

  .vacation-pie-hours {
    position: absolute;
    right: 50px;
    font-size: 1.0rem;
  }

  .mobile-vacation-request-btn-container {
    grid-area: 5 / 1 / 6 / 4;
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  #mobile-vacation-request-btn,
  #mobile-sick-request-btn {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(#ffbf27, #c08e1a);
    color: #1a2c80;
    font-weight: 600;
  }

  .mobile-vacation-add-remove-section {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    min-height: 100%;
    grid-template: 1fr 1.5fr 1.5fr / repeat(3, 1fr); 
  }

  .add-remove-banner {
    grid-area: 1 / 1 / 2 / 4;
    height: 25px;
    width: 100%;
    background-color: #e2e2e2;
    margin-bottom: 15px;
  }

  .add-remove-vacation-text {
    grid-area: 2 / 1 / 3 / 4;
    justify-self: center; 
    font-size: 1.0rem;
    color: #1a2c80;
    font-weight: 600;
  }

  .vac-plus-btn {
    box-shadow: 1px 1px 6px #333;
    width: 50px;
    height: 55px;
    grid-area:2 / 1 / 4 / 3; 
    justify-self: center;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    color: #1a2c80;
    background-image: linear-gradient(#ffb507, #ab7800);
    font-size: 0.6rem;
  }

  .vac-minus-btn {
    box-shadow: 1px 1px 6px #333;
    width: 50px;
    height: 55px;
    grid-area: 2 / 2 / 4 / 4;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: #1a2c80;
    background-image: linear-gradient(#ffb507, #ab7800);
    font-size: 0.6rem;
  }

  .fa-circle-plus {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
  }

  .fa-circle-minus {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
  }

  .mobile-vacation-company-section {
    min-height: 100%;
    grid-area: 4 / 1 / 5 / 2;
    display: grid;
    grid-template: 1fr 1.5fr 0.75fr / repeat(2, 1fr);
  }

  .company-section-banner {
    grid-area: 1 / 1 / 2 / 3;
    height: 25px;
    width: 100%;
    background-color: #e2e2e2;
    margin: 15px 0;
  }

  .company-section-pictures {
    grid-area: 2 / 1 / 3 / 3; 
    display: flex;
    justify-content: space-around;
  }

  .company-section-picture-1 img {
    width: 135px;
    height: 80px;
  }

  .company-section-picture-2 img {
    width: 135px;
    height: 80px;
  }

  .company-section-boxes {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  .left-box,
  .right-box {
    width: 135px;
    height: 12px;
    border-radius: 15px;
    background-color: #e2e2e2;
    margin: 5px 0;
    flex-basis: calc(100% * (1/2) - 25px);
  }

  .mobile-time-sheet a,
  .mobile-vacation a,
  .mobile-sick-leave a {
    text-decoration: none;
    color: #fff;
  }

  #vacation-pie {
    border-radius: 50%;
    box-shadow: 1px 1px 8px #c0c0c0;
    --p: 50;
    --w: 100px;
    --b: 20px;
  }  

  #take-home-pie {
    --c: orange; 
    --p: 50;
    --w: 100px;
    --b: 20px;
    width: var(--w);
    height: var(--w);
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 5px;
    transform: rotate(180deg);
    border-radius: 50%;
    box-shadow: 1px 1px 8px #c0c0c0;
    
  }

  #take-home-pie-background {
    --c: #7e7e7e;
    --w: 100px;
    --p: 100;
    --b: 20px;
    width: var(--w);
    height: var(--w);
    top: -5px;
    left: -5px;
    display: inline-grid;
    position: absolute;
    margin: 5px;
    transform: rotate(180deg);   
  }

  #take-home-pie-background:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  }

  #take-home-pie:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    z-index: 10;
  }

  #sick-pie-background,
  #vacation-pie-background {    
    --w: 100px;
    --p: 100;
    --b: 20px; 
  }

  .hours-left {
    transform: rotate(0);
    grid-area: 2 / 1 / 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  
}