* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  /* background-color: #304cb2; */
  /* background-color: #1a2c80; */
}

.App {
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
}

nav {
  height: 6rem;
  /* background-color: #304cb2; */
  /* background-color: #FFBF27 */
}

ul li {
  display: inline;
  list-style: none;
}

ul a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 15px;
}